<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 加载属性文件 -->
    <properties resource="jdbc.properties"/>

    <!-- 全局参数配置 -->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/><!--默认false-->
        <setting name="aggressiveLazyLoading" value="false"/><!--默认true-->
    </settings>

    <!-- 别名定义 -->
    <typeAliases>
        <!-- 单个别名定义: -->
         <!--<typeAlias type="com.fz.mybatis.mapper.UserMapper" alias="userMapper"/>-->

        <!-- 批量别名定义 （常用）
           指定包名，mybatis自动扫描包中的domain类，自动定义别名，别名就是类名（首字母大写或小写都可以）-->
        <package name="com.fz.mybatis.domain"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <!-- 通过resource方法 一次加载一个映射文件 -->
        <!--<mapper resource="mapper/UserMapper.xml"/>-->

        <!-- 通过mapper接口加载
           遵循规范：需要将mapper接口类名和mapper.xml映射文件名称保持一致，且在一个目录中
           上面规范的前提：使用的是mapper代理方法
         -->
        <!--<mapper class="com.fz.mybatis.mapper.UserMapper"/>-->

        <!--  -->
        <package name="com.fz.mybatis.mapper"/>
    </mappers>
</configuration>